* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
body {
    background: black;
}

/*MULTIPLE ELEMENTS*/
.column-header {
    color: red;
    border-bottom: thick double white ;
}
.box-shadow {
    box-shadow: 0 5px 5px red;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row-color {
    background: black;
}

/*HEADER & NAV STYLES*/
.nav-extended {
    background: black;
    color: white;
}
.nav-wrapper a {
    color: red;
    border-bottom: thick double white;
    font-size: 4vw;
    padding: 10px;
    text-transform: uppercase;
}
.nav-content span {
    margin-top: 5px;
    font-size: 1vw;
    text-transform: uppercase;
}

/*FORM STYLES*/
form {
    background: white;
}
.form-background {
    background: white;
}
.form-style {
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    border-radius: 25px;
    text-align: center;
}
.form-input {
    margin: 0 auto;
    text-align: center;
}
.diet-options {
    padding: 0 10px;
    color: black;
}
.btn {
    width: 50%;
    margin: 10px auto;
    border-radius: 25px;
    background: red;
}
.btn:hover {
    background: darkred;
}

/*LEFT COLUMN - SEARCH HISTORY DIV*/
.collection {
    width: 100%;
    margin: 10px auto;
}
.collection-item {
    margin: 10px 0;
    font-size: 20px;
}

/*MIDDLE COLUMN - POSTER DIV*/
.poster-img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

/*RIGHT COLUMN - RECIPE DIV*/
.card-image {
    height: auto;
    width: 50%;
}
.card-content  h4{
    width: 100%;
    text-align: left;
}
.card-content p {
    text-decoration: none;
}

/*DISABLE RECIPE DESCRIPTION LINKS*/
.disable-link {
    pointer-events:none;
    color: black;
    text-decoration: none;
}
.disable-link p {
    color: black;
    text-decoration: none; 
}
/*MODAL STYLES*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  .modal-content p {
      font-size: 20px;
  }
  /* Modal Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*MEDIA QUERY STYLES*/  
@media screen and (min-width: 2560px) { /*add this!!!!!!!!!!!!!!!!!!*/
    /*NAV STYLES*/
    .nav-wrapper {
        padding-top: 25px;
    }
    .nav-wrapper a {
        font-size: 5vw;
        padding: 25px;
    }
    .nav-content span {
        font-size: 1.5vw;
        margin-top: 60px;
    }
    /*FORM STYLES*/
    form {
        height: 500px;
    }
    form h4 {
        font-size: 75px;
    }
    .form-style .row {
        margin: 30px 0;
        font-size: large;
    }
    .input-field input[type="text"] {
        font-size: 1.5vw;
        padding: 5px 0;
        border-bottom: thin solid black;
    }
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        margin: 20px 10px;                      
        width: 50%;
        font-size: 25px;
        height: 35px;
    }
    /*COLUMN HEADERS*/ 
    .column-header {
        font-size: 2vw;
    }
    /*LEFT COLUMN - SEARCH HISTORY DIV*/
    .collection-item {
        font-size: 1vw;
    }
    /*RIGHT COLUMN - RECIPE DIV*/
    .card-image img {
        height: auto;
        width: 100%;
    }
    .card-content h4 {
        font-size: 1.5vw;
    }
    .card-content p {
        font-size: 0.75vw;
    }
}                 
@media screen and (max-width: 1200px) {
    /*NAV STYLES*/
    .nav-wrapper a {
        font-size: 7vw;
    }
    .nav-content span {
        font-size: 2vw;
    }
    /*FORM STYLES*/
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
    }
}
@media screen and (max-width: 980px) {
    /*NAV STYLES*/
    .nav-wrapper a {
        font-size: 8vw;
    }
    .nav-content span {
        font-size: 3vw;
    }
    /*FORM STYLES*/    
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    /*NAV STYLES*/
    .nav-wrapper a {
        font-size: 7vw;
    }
    .nav-content span {
        font-size: 4vw;
    }
    /*FORM STYLES*/
    .form-style {
        margin: 0 auto;
        padding: 0 500px;
    }
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
        margin: 10px 0;
    }
    /*RIGHT COLUMN - RECIPE DIV*/
    .card-action {
        text-align: center;
    }
    .card-content h4 {
        text-align: center;
    }
    .card-content p {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    /*NAV STYLES*/
    .nav-wrapper a {
        font-size: 9vw;
    }
    .nav-content span {
        font-size: 5vw;
    }
    /*FORM STYLES*/
    .btn {
        width: 100%;
    }
    .card-content h4 {
        font-size: 5vw;
    }
}

