* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

/*used in multiple lines*/
.column-header {
    color: red;
    border-bottom: thick double white ;
}

.box-shadow {
    box-shadow: 0 5px 5px red;
}

/*header & navigation styles*/
.nav-extended {
    background: black;
    color: white;
}
.nav-wrapper a {
    color: red;
    border-bottom: thick double white;
    font-size: 4vw;
    padding: 10px;
    text-transform: uppercase;
}
.nav-content span {
    margin-top: 5px;
    font-size: 1vw;
    text-transform: uppercase;
}

/*ROW STYLES IMPORTANT*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.row-color {
    background: black;
}

/*form column*/
.form-style {
    padding: 50px;
    margin: 10px 25%;
    width: 50%;
    border-radius: 25px;
    text-align: center;
}

.form-input {
    text-align: center;
}

.diet-options {
    padding: 0 10px;
}

.btn {
    width: 50%;
    margin: 10px auto;
    border-radius: 25px;
    background: red;
}

.btn:hover {
    background: darkred;
}

/*left column styles*/
.collection {
    width: 100%;
    margin: 10px auto;
}

.collection-item {
    margin: 10px 0;
    font-size: 20px;
}

/*middle column*/
.poster-img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

/*right column*/
.card-image {
    height: auto;
    width: 50%;
}