* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
/*used in multiple lines*/
.column-header {
    color: red;
    border-bottom: thick double white ;
}
.box-shadow {
    box-shadow: 0 5px 5px red;
}
/*header & navigation styles*/
.nav-extended {
    background: black;
    color: white;
}
.nav-wrapper a {
    color: red;
    border-bottom: thick double white;
    font-size: 4vw;
    padding: 10px;
    text-transform: uppercase;
}
.nav-content span {
    margin-top: 5px;
    font-size: 1vw;
    text-transform: uppercase;
}
/*ROW STYLES IMPORTANT*/
.row {
    display: flex;
    flex-wrap: wrap;
}
.row-color {
    background: black;
}
/*form column*/
.form-style {
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    border-radius: 25px;
    text-align: center;
}
.form-input {
    margin: 0 auto;
    text-align: center;
}
.diet-options {
    padding: 0 10px;
}
.btn {
    width: 50%;
    margin: 10px auto;
    border-radius: 25px;
    background: red;
}
.btn:hover {
    background: darkred;
}
/*left column styles*/
.collection {
    width: 100%;
    margin: 10px auto;
}
.collection-item {
    margin: 10px 0;
    font-size: 20px;
}
/*middle column*/
.poster-img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}
/*right column*/
.card-image {
    height: auto;
    width: 50%;
}
/*media queries*/                          
@media screen and (max-width: 1200px) {
    /*navigation*/
    .nav-wrapper a {
        font-size: 7vw;
    }
    .nav-content span {
        font-size: 2vw;
    }
    /*form*/
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
    }
}
@media screen and (max-width: 980px) {
    /*navigation*/
    .nav-wrapper a {
        font-size: 8vw;
    }
    .nav-content span {
        font-size: 3vw;
    }
    /*form*/    
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    /*navigation*/
    .nav-wrapper a {
        font-size: 9vw;
    }
    .nav-content span {
        font-size: 4vw;
    }
    /*form*/
    .form-style {
        margin: 0 auto;
        padding: 0 500px;
    }
    .diet-options {
        padding: 0 5px;
    }
    .btn {
        width: 75%;
    }
}
@media screen and (max-width: 575px) {
    /*navigation*/
    .nav-wrapper a {
        font-size: 9vw;
    }
    .nav-content span {
        font-size: 5vw;
    }
    /*form*/
    .btn {
        width: 100%;
    }
}

